#datetime {
    font-family: 'Gelasio', serif; 
    font-size: 90px;  
    color: white;  
}

#welcomemessage {
    font-family: 'Gelasio', serif; 
    font-size: 40px;
    color: white;  
}

#quote {
    font-family: 'Gelasio', serif; 
    font-size: 20px;
    color: white;  
}

#firstname {
    opacity: 0.5;
    max-width: 350px;
}

.cat-title {
    color: white;
}

.cat-link {
    color: white;
}

.cat-text {
    color: white;
}
